{% extends "base.html" %}

{% block title %} Main page {% endblock %}

{% block content %}

<h1>Main page to play around with Bootstrap styles<span class="badge bg-primary">New</span></h1>
<h2>Main page to play around with Bootstrap styles<span class="badge bg-secondary">New</span></h2>
<h3>Main page to play around with Bootstrap styles<span class="badge bg-success">New</span></h3>
<h4>Main page to play around with Bootstrap styles<span class="badge bg-danger">New</span></h4>
<h5>Main page to play around with Bootstrap styles<span class="badge bg-warning text-dark">New</span></h5>
<h6>Main page to play around with Bootstrap styles<span class="badge bg-info text-dark">New</span></h6>

<button type="button" class="btn btn-primary btn-lg position-relative mt-5">
    Very long test button
    <span class="position-absolute top-0 translate-middle badge rounded-pill bg-danger">
    *
  </span>
    <span class="position-absolute top-100 end-50 translate-middle badge rounded-pill bg-warning">
    *
  </span>
</button>

<div class="mt-5">
    <h3>Request Details</h3>
    <ul>
        <li>Full URL: {{ request.url }}</li>
        <li>Base URL: {{ request.base_url }}</li>
        <li>Path: {{ request.url.path }}</li>
        <li>Method: {{ request.method }}</li>
        <li>Headers: {{ request.headers }}</li>
        <li>Query Params: {{ request.query_params }}</li>
        <li>Client IP: {{ request.client.host }}</li>
        <li>Client Port: {{ request.client.port }}</li>
    </ul>
</div>


{% endblock %}